div.character_ACTOR_FARMER {
    background-image: url("/skrot/images/character_creation/character_farmer.png");

}

div.character_ACTOR_PRINCESS {
    background-image: url("/skrot/images/character_creation/character_princess.png");
}

div.character_ACTOR_OUTLAW {
    background-image: url("/skrot/images/character_creation/character_outlaw.png");
}
