div.inspect_surface {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

div.surface_inspect_box {
    background-color: rgba(18, 189, 220, 0.25);
    margin: 0;
    border: 0.2em solid rgba(9, 199, 222, 0.74);
    border-radius: 1.3em;
    padding: 0.2em;
}

div.surface_aoa_box {
    display: inline-block;
    overflow: hidden;
    height: 15em;
    width: 96%;
    margin: 0.2em;
    border: 0.2em solid rgba(76, 180, 253, 0.62);
    border-radius: 1em;
    background-color: rgba(2, 13, 31, 0.32);
}

div.box_curve_view {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: black;
}

div.surface_label {

}

div.surface_label h2 {
    color: #ffb837;
}

div.surface_label h3 {
    font-size: 2.2em;
    color: #beffec;
}

div.origin {
    position: relative;
    display: inline-block;
    left: 50%;
    top: 12%;
    width: 0;
    height: 0;
    border: 0.2em solid white;
    overflow: visible;
}

div.transform_root {
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    width: 0;
    border: 0.2em solid white;
    overflow: visible;
}

div.airflow_root {
    position: relative;
    margin: 0;
    padding: 0;
    left: -10em;
    top: -10em;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    overflow: hidden;

    transform-origin: 50% 50%;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
}

div.airflow_line {
    width: 20em;
    height: 0.1em;
    background-color: rgba(139, 255, 255, 0.85);
    margin: 0.6em;
}

div.airfoil_line {
    pointer-events: auto;
    position: absolute;
    width: 10em;
    height: 0.06em;
    background-image: linear-gradient(rgba(111, 255, 251, 0.89) 0%, rgba(0, 61, 100, 0.59) 100%);
    padding: 0.5em;
    top:-0.2em;
    left: -5em;
    border: 0.2em solid rgba(0, 126, 194, 0.48);
    border-radius: 50% 50% 1em 1em;
    transform-origin: 50% 50%;
}

div.plane_node {
    position: absolute;
    background-repeat: no-repeat;;
    width: 44em;
    height: 44em;
    top: -22em;
    left:-22em;

    background-position: 8px 20px;
    opacity: 0.3;
}

div.plane_top {
    background-image: url("/skrot/images/icons/icon_f14_top.png");
    background-size: 98% 98%;
}

div.plane_left {
    background-image: url("/skrot/images/icons/icon_f14_left.png");
    background-size: 100% 100%;
}

div.force_line {
    pointer-events: auto;
    position: absolute;
    width: 0.4em;
    height: 1em;
    background-color: rgba(255, 245, 39, 1);
    top: 0;
    padding: 0;
    margin: 0;
    left: 0.2em;
    border: none;
    border-radius: 0;
    transform-origin: 50% 102%;
}

div.line_lift_x {
    rotate: 90deg;
    background-image: linear-gradient(rgb(235, 0, 255) 0%, rgb(255, 190, 232) 100%);
}
div.line_lift_y {
    transform-origin: 50% 100%;
    background-image: linear-gradient(rgb(185, 255, 237) 0%, rgb(0, 234, 255) 100%);
}
div.line_drag_n {
    rotate: 180deg;
    background-image: linear-gradient(rgb(122, 0, 0) 0%, rgb(255, 0, 0) 100%);
}
div.line_force_g {
    transform-origin: 50% 0%;
    background-image: linear-gradient(rgb(3, 72, 0) 0%, rgb(0, 220, 7) 100%);
    height: 8em;
}

div.line_up_x {
    background-image: linear-gradient(rgb(45, 255, 255) 0%, rgb(0, 2, 145) 100%);
    height: 3em;
}

div.line_up_y {
    background-image: linear-gradient(rgb(45, 255, 255) 0%, rgb(0, 2, 145) 100%);
    height: 3em;
}

div.plot_container {
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(-170%);
}

div.line_node {
    pointer-events: auto;
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    top: auto;
    padding: 0;
    margin: 0;
    left: 0;
    border-radius: 0;
    transform-origin: 50% 50%;
    overflow: visible;
}

div.line_segment {
    pointer-events: auto;
    position: relative;
    display: inline-block;
    width: 0.2em;
    height: 0.2em;
    background-color: rgb(255, 187, 97);
    top: auto;
    padding: 0;
    margin: 0;
    left: 0;
    border-radius: 0;
    box-shadow: 0 0 0.5em white;
    transform-origin: 50% 10%;
}

div.line_sampled {
    pointer-events: auto;
    position: relative;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    background-color: rgb(255, 187, 97);
    top: auto;
    padding: 0;
    margin: 0;
    left: 0;
    border-radius: 0;
    box-shadow: 0 0 0.5em white;
    transform-origin: 50% 50%;
}